* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

header {
  background-color: #FBE8A6;
  padding: 20px 0 0 0;
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  display: inline-block;
  width: 100%;
}

footer {
    padding: 20px;
    background-color: #FBE8A6;

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  letter-spacing: 2px;
  font-weight: 800;
  line-height: 40px;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
  color: #303C6C;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

h5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #303C6C;
  margin: 15px 0;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin: 15px 0;
}

img {
  width: 100%;
}

a {
  color: #000000;
}

a:visited {
  color: #303C6C;
  text-decoration: none;
}

a:hover a:focus {
  color: #B4DFE5;
  text-decoration: none;
}


a:active {
  /* selected link */
  color: #B4DFE5;
}


.button {
  display: inline-block;
  background-color: #F4976C;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 15px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: 0.2s opacity;
  text-decoration: none;
  margin: 20px 0;
}
.button:visited {
  color: #ffffff;
  /* Reduces the opacity of the button to 80% */
}
.button:hover {
  opacity: 0.8;
  color: #ffffff;
  /* Reduces the opacity of the button to 80% */
}

/* Layout styling */

.container {
  padding: 0px 20px;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 140px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #303C6C;
  text-decoration: none;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #303C6C;
  text-decoration: none;
}

nav > ul > li > a:hover{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #B4DFE5;
  opacity: 0.8;
  text-decoration: none;
}
nav > ul > li > a:active{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #B4DFE5;
  opacity: 0.8;
  text-decoration: none;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

.workimage {
  max-width: 220px;
  display: block;
  margin: auto;
}

.center {
  text-align: center;
}

#work {
  margin-bottom: 20px;
}

.socialmedia > ul > li {
  display: inline-block;
}

.socialmedia > ul {
  padding: 0;
}

.copyright {
  text-align: center;
}

.fab {
  font-size: 3em;
  padding: 20px;
  text-align: center;
  color: #000000;
}

/* about page */

#about h1 {
  text-align: center;
  padding: 20px 0;
}

.headshot {
  max-width: 200px;
  margin: auto;
  display: block;
}

.download {
  text-align: center;
}

#about h3 {
  text-align: center;
  padding: 0;
}

.container.content {
  padding-bottom: 20px;
}

/* hunt page */

#project-title h1 {
  text-align: center;
  padding-top: 20px;
}

#project-title p {
  text-align: center;
  padding-bottom: 20px;
}

.inlinetitle {
  font-weight: 800;
  padding-right: 10px;
}

#hunte h4 {
  margin: 0;
}

.centerimgmaxwidth {
  max-width: 340px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.video {
  margin: 20px 0;
}
