* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

header {
  background-color: #FBE8A6;
  padding: 20px 0 0 0;
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  display: inline-block;
  width: 100%;
}

footer {
    padding: 20px;
    background-color: #FBE8A6;

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  letter-spacing: 2px;
  font-weight: 800;
  line-height: 60px;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
  color: #303C6C;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

h5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #303C6C;
  margin: 15px 0;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin: 15px 0;
}

img {
  width: 100%;
}

a {
  color: #303C6C;
}

a:visited {
  color: #303C6C;
}

a:hover a:focus {
  color: #B4DFE5;
}


a:active {
  /* selected link */
  color: #B4DFE5;
}


.button {
  display: inline-block;
  background-color: #F4976C;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 15px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
  margin: 20px 0;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;

}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  /* Reduces the opacity of the button to 80% */
}

/* Layout styling */

.container {
  padding: 0px 20px;
}

#work .row {
  margin: 60px 0;
  padding-bottom: 40px;
}

.row.line {
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 140px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #303C6C;
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: #303C6C;
}

nav > ul > li > a:hover{
  color: #B4DFE5;
  opacity: 0.8;
}

nav > ul > li > a:active{
  color: #B4DFE5;
  opacity: 0.8;
}

#hero {
  padding: 80px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

.workimage {
  max-width: 220px;
  display: block;
  margin: auto;
}

.center {
  text-align: center;
}

#work {
  margin-bottom: 20px;
}

.socialmedia > ul > li {
  display: inline-block;
}

.socialmedia > ul {
  padding: 0;
}

.copyright {
  text-align: center;
}

.fab {
  font-size: 3em;
  padding: 20px;
  text-align: center;
  color: #000000;
}


/* about page */

#about h1 {
  text-align: center;
  padding: 20px 0;
}

.headshot {
  max-width: 200px;
  margin: auto;
  display: block;
}

.download {
  text-align: center;
}

#about h3 {
  text-align: center;
  padding: 0;
}

.container.content {
  padding-bottom: 20px;
}

.story {
  padding: 30px 0;
  border-bottom: 1px solid #4a4a4a;
}

.skillstools {
  padding: 30px 0;
}

/* hunt page */

#project-title h1 {
  text-align: center;
  padding-top: 20px;
}

#project-title p {
  text-align: center;
  padding-bottom: 20px;
}

.inlinetitle {
  font-weight: 800;
  padding-right: 10px;
}

#hunte h4 {
  margin: 0;
}

.centerimgmaxwidth {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.video {
  margin: 20px 0;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
   width: auto;
   float: right;
 }

.logo {
  margin-top: 15px;
}

#hero span {
  display: block;
}

#hero {
  text-align: center;
}

body {
  font-size: 18px;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.projecttext {
  margin-top: 85px;
}


}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
   width: auto;
   float: right;
 }

 .logo {
   margin-top: 20px;
 }

 #hero span {
   display: block;
 }

 #hero {
   text-align: center;
 }

 body {
   font-size: 18px;
 }

.col-lg-7 {
  width: 58.33%;
}

.col-lg-5 {
  width: 41.66%;
}

[class*="col-"] {
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.projecttext {
  margin-top: 75px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
   width: auto;
   float: right;
 }

 .logo {
   margin-top: 28px;
 }

 #hero span {
   display: block;
 }

 #hero {
   text-align: center;
   padding: 100px;
 }

 #hero h1 {
   line-height: 80px;
 }

 body {
   font-size: 24px;
 }

 .col-xl-8 {
   width: 66.66%;
 }

 .col-xl-4 {
   width: 33.33%;
 }

 [class*="col-"] {
   float: left;
 }

 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 .projecttext {
   margin-top: 30px;
 }

 .container {
   max-width: 900px;
   margin-left: auto;
   margin-right: auto;
 }


 /* Brackets go out */
 .brackets a:before, .brackets a:after
 {
     opacity: 0;
     font-size: 25px;
     top: 0px;
     transition: all 0.3s;
 }

 .brackets a:before
 {
     content: '( ';
     left: 0px;
     transform: translateX(10px);
 }

 .brackets a:after
 {
     content: ' )';
     right: 0px;
     transform: translateX(-10px);
 }

 .brackets a:hover:before, .brackets a:hover:after
 {
     opacity: 1;
     transform: translateX(0px);
 }


}


@keyframes leaves-move {
  from {transform: rotate(0deg);}
  to {transform: rotate(25deg);}
}

#leaves1 {
  animation: 4s leaves-move infinite alternate ease;
}


@keyframes leaf-move {
  from {transform: rotate(0deg);}
  to {transform: rotate(-0.8deg);}
}

#leaf_2 {
    animation: 3s leaf-move infinite alternate linear;
}
